.character__spinner {
	overflow: auto;
}

.character__description {
	white-space: nowrap;
}

.character__image-container {
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.character__row {
	height: calc(100vh - 216px);
}

.character__breadcrumbs {
	margin: 16px 0;
	height: 36px;
}