.ant-spin-nested-loading {
	overflow: hidden;
}

.ant-spin-nested-loading > div > .ant-spin {
	overflow: hidden;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
}

.ant-list > .ant-spin-nested-loading > .ant-spin-container {
	height: calc(100vh - 268px);
    overflow: auto;
}

.ant-list-empty-text {
	height: calc(100vh - 256px);
	display: flex;
	align-items: center;
	justify-content: center;
}

.breadcrumb {
	cursor: pointer;
}

.ant-image-img {
	height: 75vh !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.margin-top-16 {
	margin-top: 16px;
}

.text--no-wrap {
	white-space: nowrap;
}

.text--star-jedi {
	font-family: 'Star Jedi', sans-serif;
}

.text--center {
	text-align: center;
}

.display--none {
	display: none;
}

.width-100-percents {
	width: 100%;
}