.ant-spin-nested-loading {
	overflow: hidden;
}

.ant-spin-nested-loading > div > .ant-spin {
	overflow: hidden;
	position: fixed;
	top: 50%;
	transform: translate(-50%, -50%);
	left: 50%;
}

.ant-list-empty-text {
	height: calc(100vh - 256px);
	display: flex;
	align-items: center;
	justify-content: center;
}

.breadcrumb {
	cursor: pointer;
}

.ant-image-img {
	height: 75vh !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.text-star-jedi {
	font-family: 'Star Jedi', sans-serif;
}